services:

  nats:
    image: nats

  nats-ui:
    image: sphqxe/nats-webui:latest

  whoami:
    image: containous/whoami
    environment:
      - WHOAMI_PORT_NUMBER=8080
    command:
      ['--port', '8080']
    ports:
      - 8080

  reverse-proxy:
    image: nginx
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
    ports:
      - 80:80

networks:
  default:
    external: true
    name: veille
