services:

  nats:
    image: nats

  nats-ui:
    image: sphqxe/nats-webui:latest
    ports:
      - 80

  mongo:
    image: mongo
    restart: always

  mongo-ui:
    image: mongo-express
    restart: always
    environment:
      - VCAP_APP_PORT=8080
      - ME_CONFIG_SITE_BASEURL=/mongo-ui
    ports:
      - 8080

  whoami:
    image: containous/whoami
    environment:
      - WHOAMI_PORT_NUMBER=8080
    command:
      ['--port', '8080']
    ports:
      - 8080

  reverse-proxy:
    image: nginx
    depends_on:
      - nats
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
    ports:
      - 80:80

networks:
  default:
    external: true
    name: veille
