services:

  nats:
    image: nats:2.7.0-alpine
    ports:
      - 8080
    volumes:
      - ./nats-server.conf:/etc/nats/nats-server.conf:ro

  mongo:
    image: mongo
    restart: always

  mongo-ui:
    image: mongo-express
    restart: always
    environment:
      - VCAP_APP_PORT=8080
      - ME_CONFIG_SITE_BASEURL=/mongo-ui
    ports:
      - 8080

  whoami:
    image: containous/whoami
    environment:
      - WHOAMI_PORT_NUMBER=8080
    command:
      ['--port', '8080']
    ports:
      - 8080

  openldap:
    # https://github.com/tiredofit/docker-openldap-fusiondirectory/blob/2.4-1.4/install/assets/custom-scripts/001-install-fusiondirectory.sh
    image: tiredofit/openldap-fusiondirectory:2.6-1.4-latest
    environment:
      - DOMAIN=veille.bzh
      - BASE_DN=dc=veille,dc=bzh
      - ADMIN_PASS=password
      - FUSIONDIRECTORY_ADMIN_USER=fd-admin
      - FUSIONDIRECTORY_ADMIN_PASS=password
    ports:
      - 389:389
    volumes:
      - ./data/openldap/data:/var/lib/openldap
      - ./data/openldap/config:/etc/openldap/slapd.d
      - ./data/openldap/backup:/data/backup

  fusiondirectory:
    image: tiredofit/fusiondirectory:1.4-latest
    depends_on:
      - reverse-proxy
    environment:
      - LDAP1_NAME=Production
      - LDAP1_HOST=openldap
      - LDAP1_PORT=389
      - LDAP1_BASE_DN=dc=veille,dc=bzh
      - LDAP1_ADMIN_DN=cn=admin,dc=veille,dc=bzh
      - LDAP1_ADMIN_PASS=password
      - NGINX_LISTEN_PORT=8080
    ports:
      - 8080

  mariadb:
    image: mariadb:10.8-rc
    restart: always
    user: $UID:$GUID
    environment:
      - MARIADB_ROOT_PASSWORD=mariadb-password
      - MARIADB_ALLOW_EMPTY_ROOT_PASSWORD=false
      - MARIADB_USER=mariadb-admin
      - MARIADB_PASSWORD=mariadb-password
    volumes:
      - ./data/mariadb:/var/lib/mysql
    ports:
      - 3306:3306

  adminer:
    image: adminer
    restart: always
    depends_on:
      - reverse-proxy
      - mariadb
    user: $UID:$GUID
    environment:
      - ADMINER_DEFAULT_SERVER=mariadb
    ports:
      - 8080

  keycloak:
    image: jboss/keycloak:16.1.1
    restart: always
    depends_on:
      - mariadb
      - reverse-proxy
    environment:
      - KEYCLOAK_USER=keycloak-admin
      - KEYCLOAK_PASSWORD=keycloak-password
      - DB_VENDOR=mariadb
      - DB_PORT=3306
      - DB_USER=mariadb-admin
      - DB_PASSWORD=mariadb-password
      - KEYCLOAK_FRONTEND_URL=https://veille.bzh/keycloak/auth
    ports:
      - 8080

  reverse-proxy:
    image: nginx
    depends_on:
      - nats
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
      - ./data/certs:/etc/nginx/certs
    ports:
      - 80:80
      - 443:443
networks:
  default:
    external: true
    name: veille
